@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 1px 13px 53px 0px rgba(58, 189, 49, 1);
    -moz-box-shadow: 1px 13px 53px 0px rgba(58, 189, 49, 1);
    box-shadow: 1px 13px 53px 0px rgba(58, 189, 49, 1);
}

header img {
    margin-left: 33%;
    width: 500px;
    height: auto;
}

nav {
    margin-top: 20px;
    text-align: center;
}

.nav {
    text-decoration: none;
    font-family: 'Poetsen One';
    color: rgb(64, 105, 4);
    text-shadow: 4px 4px 2px rgba(244, 250, 237, 0.6);
    transition: .3s ease;
}

.nav:hover {
    font-weight: bold;
    font-size: 20px;
    color: rgba(24, 150, 8, 1);
    color: -moz-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 150, 8, 1)), color-stop(27%, rgba(57, 172, 24, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
    color: -webkit-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: -o-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: -ms-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: linear-gradient(to right, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#189608', endColorstr='#91e842', GradientType=1);
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.6);
}

body {
    background-image: url(../img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulos {
    text-align: center;
    font-family: 'Protest Strike';
    color: rgba(24, 150, 8, 1);
    color: -moz-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 150, 8, 1)), color-stop(27%, rgba(57, 172, 24, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
    color: -webkit-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: -o-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: -ms-linear-gradient(left, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    color: linear-gradient(to right, rgba(24, 150, 8, 1) 0%, rgba(57, 172, 24, 1) 27%, rgba(145, 232, 66, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#189608', endColorstr='#91e842', GradientType=1);
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.6);
}

#contenedor-total {
    margin: 30px;
    padding: 30px;
    border-radius: 35px;
    -webkit-box-shadow: 10px 10px 48px 0px rgba(8, 133, 14, 1);
    -moz-box-shadow: 10px 10px 48px 0px rgba(8, 133, 14, 1);
    box-shadow: 10px 10px 48px 0px rgba(8, 133, 14, 1);
}

.titulazos {
    text-align: center;
    font-family: 'Poetsen One';
    color: rgb(64, 105, 4);
    text-shadow: 4px 4px 2px rgba(244, 250, 237, 0.6);
}

.parrafos {
    padding: 60px;
    text-align: justify;
    font-weight: bold;
    color: rgb(64, 105, 4);
    text-shadow: 4px 4px 2px rgba(244, 250, 237, 0.6);
}

.listas {
    margin-left: 49%;
    font-weight: bold;
    color: rgb(64, 105, 4);
    text-shadow: 4px 4px 2px rgba(244, 250, 237, 0.6);
}

video {
    margin-left: 27%;
    width: 650px;
    height: auto;
    border-radius: 35px;
    -webkit-box-shadow: 10px 10px 48px 0px rgba(8, 133, 14, 1);
    -moz-box-shadow: 10px 10px 48px 0px rgba(8, 133, 14, 1);
    box-shadow: 10px 10px 48px 0px rgba(8, 133, 14, 1);
}